*.log
*.zip
*.bbl
*.nav
*~
*.desktop
*.gz
*.aux
*.xml
*.acn
*.acr
*.alg
*.bcf
*.blg
*.glo
*.gls
*.ist
*.out
*.toc
*.glg
lock
tmp/
.directory
*Draft*

Antrag_auf_Verlaengerung_der_Bearbeitungszeit_der_Bachelorarbeit.pdf
Vorlage/
antrag/
ba_overview.txt
ba_overview_backup.txt
latex/geklaehrte_fragen
tikzpgfmanual.pdf
todo_ba_overview.txt
tools/advanced_times/backup/
tools/advanced_times/times_wf3/
tools/batch/
tools/cmp/start_cmp.sh
tools/one_armed_bandit/benchmark_1/
tools/percentage/main_old.csv
tools/percentage/slow_old.csv
tools/percentage/speckle_old.csv
verwandte arbeiten/
zwischenpraesentation/Zwischenpraesentation.pdf
zwischenpraesentation/Zwischenpraesentation.snm
zwischenpraesentation/Zwischenpraesentation_komplex.pdf
zwischenpraesentation/todo
zwischenpraesentation/txt/
zwischenpraesentation_too_long/

